<turbo-frame id="results-<%= nomination.id %>">
  <div class="votes">
    <h3><%= t(:voting_results) %>:</h3>
    <% vote_result(nomination.id) %>
    <div class="row">
      <% nomination.candidates.each do |candidate| %>
        <div class="col-sm-1 col-md-2">
          <%= candidate.title %>
        </div>
        <div class="col-sm-1 col-md-10">
          <div class="progress">
            <% percent = count_percent(candidate.id) %>
            <div class="progress-bar" style="<%= percent.zero? ? 'width: 100%; background: #4d94ff;' : "width: #{percent}%;" %>">
              <div>
                <% if percent.zero? %>
                  Еще не проголосовали.
                <% else %>
                  <%= @size_votes %>–<%= percent %>% из <%= @votes.size %> Голосов.
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
