<!DOCTYPE html>
<html>
  <head>
    <title>MyProj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <script type="text/javascript">
      function hideFlash(){
          let flash_tag = document.getElementsByClassName('al')[0];
          if(flash_tag !== undefined)
          {
              flash_tag.style.opacity = 0;
              flash_tag.style.visibility = 'hidden';
          }
      }
      setTimeout(hideFlash, 5000);
  </script>

  <% if notice %><p class="al alert alert-success"><%= notice %></p> <% end %>
  <% if alert %><p class="al alert alert-danger"><%= alert %></p><% end %>
  <div id='flash'>
    <% render 'shared/flash' %>
  </div>
  <header>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-1 col-md-6">
            <div class="logo"><a href="/"><%= t(:main_header) %>.</a></div>
          </div>
          <div class="col-1 col-md-6">
            <div class="row">
              <div class="col-6">
                <ul id='language-menu'>
                  <% I18n.available_locales.each do |locale| %>
                    <li>
                      <a href="<%= "/#{locale}" %>">
                        <%= I18n.t("languages.#{locale}") %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-6" style="text-align: right;">
                <% if user_signed_in? %>
                  <span><%= t(:hello) %>, <%= current_user.email %></span>
                  <%= button_to t(:button_sign_out), destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
                <% else %>
                  <%= link_to t(:sign_in), new_user_session_path %> <%= link_to t(:sign_up), new_user_registration_path %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
